body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('/static/bg.jpg'); /* Correct path for background image */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #F7EED3; /* Fallback background color */
}

.container {
    max-width: 800px;
    margin: 50px auto;
    background: #000000cc; /* Slightly transparent white background */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: #4fbcff; /* Title color */
}

form {
    display: flex;
    justify-content: center;
}

input[type="text"] {
    width: 80%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    background-color: hsl(192, 57%, 79%); /* Search bar color */
}

button {
    padding: 10px 15px;
    background-color: #397fca; /* Search button color */
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 10px;
}

button:hover {
    background-color: #8C9B72; /* Hover effect color */
}

.results {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.image-result {
    margin: 15px;
    text-align: center;
}

.image-result img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.image-result p {
    margin-top: 10px;
    font-size: 14px;
    color: #f5eded;
}
